pip==20.2.4
pylint
yapf

# Testing
tox==3.14.0
pytest==4.6.5
pytest-cov==2.10.1
pytest-benchmark==3.2.3

# Documentation
Sphinx==3.2.1
sphinx-material==0.0.32
sphinx-autobuild==2020.9.1
autodocsumm==0.2.1

# Distribution
bump2version==0.5.11
wheel==0.33.6
twine==1.14.0
