pip==20.2.4
bump2version==0.5.11
wheel==0.33.6
twine==1.14.0
pylint
yapf

# Testing
tox==3.14.0
pytest==4.6.5
pytest-cov==2.10.1
pytest-benchmark==3.2.3

# Documentation
mkdocs==1.1.2
mkdocs-material==6.1.0
mkdocstrings==0.13.6
