pip==20.2.3
bump2version==0.5.11
wheel==0.33.6
twine==1.14.0
pylint
yapf

# Testing
tox==3.14.0
pytest==4.6.5
pytest-cov==2.10.1
pytest-benchmark==3.2.3
pytest-runner==5.1

# Documentation
Sphinx==3.2.1
sphinx-book-theme==0.0.37
sphinx-autobuild==2020.9.1
