alabaster==0.7.12
appdirs==1.4.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.8.0
beautifulsoup4==4.9.3
bleach==3.2.1
box2d-py==2.3.8
bump2version==0.5.11
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cma==3.0.3
contextvars==2.4
coverage==5.3
cycler==0.10.0
dask==2.30.0
dask-jobqueue==0.7.1
distlib==0.3.1
distributed==2.30.0
docutils==0.16
filelock==3.0.12
fire==0.3.1
future==0.18.2
gym==0.17.3
HeapDict==1.0.1
idna==2.10
imagesize==1.2.0
immutables==0.14
importlib-metadata==0.23
importlib-resources==3.0.0
isort==5.6.4
Jinja2==2.11.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
livereload==2.6.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
more-itertools==8.6.0
msgpack==1.0.0
numpy==1.19.4
packaging==20.4
pandas==1.1.4
Pillow==8.0.1
pkginfo==1.6.1
pluggy==0.13.1
psutil==5.7.3
py==1.9.0
py-cpuinfo==7.0.0
pydata-sphinx-theme==0.4.1
pyglet==1.5.0
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pytest==4.6.5
pytest-benchmark==3.2.3
pytest-cov==2.10.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
-e git+git@github.com:icaros-usc/pyribs.git@791ddc39921d06e31ebf7d4010276f4fd3457fd4#egg=ribs
scipy==1.5.3
seaborn==0.11.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinx-book-theme==0.0.37
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tblib==1.7.0
termcolor==1.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tox==3.14.0
tqdm==4.51.0
twine==1.14.0
typed-ast==1.4.1
urllib3==1.25.11
virtualenv==20.1.0
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
yapf==0.30.0
zict==2.0.0
zipp==3.4.0
